.main-button {
  background-color: cornflowerblue;
}

.main-button:hover {
  background-color: dodgerblue;
}

.modal-content {
  background-color: initial;
  border-radius: initial;
  margin: 10px auto; /* 15% from the top and centered */
  padding: 20px;
  width: 90%; 
  max-width: 1000px;
  box-shadow: initial;
  display: flex;
}

@media (max-width: 800px) {
  .modal-content {
    display: initial;
  }
  .featured-left {
    width: 90% !important;
  }
  .featured-right {
    width: 90% !important;
  }
}

.featured-left {
  margin: auto;
  margin-top: 0px;
  width: 50%;
  padding-right: 10px;

}

.featured-right {
  margin: auto;
  margin-top: 0px;
  width: 50%;
  padding-left: 10px;
}

#playlistImage {
  width: 100%;
  height: 100%;
}

.featured-left h1 {
  margin: 0px;
  padding: 0px;
}

.featured-left p {
  margin-top: 10px;
}

#shuffle_button {
  background-color: lightskyblue;
  border: solid 1px gray;
  margin-top: 12px;
  font-size: 14px;
  height: 24px;
  width: 100px;
  padding: 0px 10px;
  border-radius: 12px;
  cursor: pointer;
}
#shuffle_button {
  opacity: 0.7;
}

.list {
  margin-top: 0px;
}

.list ul {
  height: 100%;
}